@model AG04.Models.tblMemberSkills

@{
    ViewBag.Title = "Delete";
}

<h2>Delete skill</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMember.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMember.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Details", "Member", new { @id = Model.MemberID }) |
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
